<div class="container" ng-controller="HeaderController">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <!-- Page title -->
            <!--<h2><i class="fa {{pageIcon ? pageIcon : 'map-marker'}} red" style="font-size: 14px;"></i> {{pageTitle}}</h2>-->
            <h2><a href="#/"><i class="fa fa-home red" style="font-size: 14px;"></i> Home</a></h2>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <!-- Search block -->
            <!--<div class="head-search">
                <form class="form" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
										  <span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
										  </span>
                    </div>
                </form>
            </div>-->
        </div>

        <div class="col-md-3 col-sm-4 hidden-xs">

        </div>


        <div class="col-md-3 hidden-sm hidden-xs">
            <!-- Head user -->
            <div class="head-user dropdown pull-right">
                <a href="#" data-toggle="dropdown" id="profile">
                    <!-- Icon
                    <i class="fa fa-user"></i>  -->

                    <img src="../assets/img/user1.jpg" alt="" class="img-responsive img-circle"/>

                    <!-- User name -->
                    ashokram <span class="label label-danger">5</span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- Dropdown -->
                <ul class="dropdown-menu" aria-labelledby="profile">
                    <li><a href="#">View/Edit Profile <span class="badge badge-info pull-right">6</span></a></li>
                    <li><a href="#">Change Settings</a></li>
                    <li><a href="#">Messages <span class="badge badge-danger pull-right">5</span></a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
