<div class="container" ng-controller="ProjectEditController" ng-init="init()">

    <div class="page-content">

        <!-- Heading -->
        <div class="single-head">
            <!-- Bread crumbs -->
            <div class="breads pull-left">
                <a href="#/">Home</a> / <a href="#/projects">Project</a> / {{projectId}}
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            <h1>
                                <strong><input ng-model="project.name" style="width: 100%;"/></strong>
                            </h1>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- Actions -->
                        <div class="pull-right clearfix">
                            Add Milestone <a href="#" class="btn btn-primary btn-xs" title="Add Revision"><i class="fa fa-plus"></i></a>
                        </div>
                        <app-timeline project="project" edit="{{true}}"></app-timeline>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <section class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3 class="timeline-title">Revision</h3>
                        </div>
                        <ul class="list-unstyled">
                            <li>05 Dec 2015 - Revision 1 - Unknown reason</li>
                            <li>07 Dec 2015 - Revision 2 - Unknown reason</li>
                            <li>08 Dec 2015 - Revision 3 - Unknown reason</li>
                        </ul>

                        <!-- Actions -->
                        <div class="pull-right clearfix">
                            Add Revision<a href="#" class="btn btn-primary btn-xs" title="Add Revision"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

</div>