<div class="container">

    <div class="row">
        <div class="col-md-12">
            <!--event-broadcast="mapEvents"-->
            <leaflet id="inMap"
                     markers="markers"
                     lf-center="center"
                     height="{{mapHeight}}" width="100%">
            </leaflet>
        </div>
        <h1>Events example</h1>
        <p>All map events are propagated by default.</p>
        <ul>
            <li><strong ng-bind="eventDetected"></strong> event caught in listener.</li>
        </ul>
    </div>
    <div class="row">

        <div class="col-md-12">
            <app-projects projects="projects"></app-projects>
        </div>

    </div>

</div>

<script type="text/javascript">


</script>
