th {
    vertical-align: middle !important;
}

.app-overlay {
    opacity:0.5;
    filter: alpha(opacity=50);
    background: #3C3C3C;
    width:100%;
    height:100%;
    z-index:9999;
    top:0;
    left:0;
    position:fixed;
    display:none;
    text-align: center;
}

.app-overlay span{
    position:absolute;
    top:50%;
    left:50%;
    background: url(../img/loading.gif) no-repeat 0 0 transparent;
    width: 100px;
    height: 100px;
}

#loader-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 9999;
}

#loader {
    width: 98px;
    height: 98px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.list-item-loader {
    width: 28px;
    height: 28px;
    background: transparent url("../img/ellipsis.gif") no-repeat left;
    float: right;
}

ul.projects-list li a strong:hover {
    color: red;
}